
//Reset
body {
    overflow-x: hidden;
    background: $light;
    //small screen (from 992px to below)
    @media  only screen and (max-width: 992px) {
        text-align: center;
    }
}

//h1 (apply this style to all h1 tags except home h1.name)
h1:not(.name) {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
    //after
    &::after {
        content: '';
        display: block;
        width: 55px;
        height: 2px;
        background: $primary;
        margin: 1rem 0 0 0;
        //small screen (from 992px to below)
        @media  only screen and (max-width: 992px) {
            //h1::after
            margin: 1rem auto;
        }
    }
}




