.experience{
    padding: 100px 0 60px 0;
    background: linear-gradient(90deg, $gray-200, #fff);

    //h1
    h1 {
        margin-bottom: 5rem;
    }

    //h2
    h2 {
        font-size: 1rem;
    }

    //text-muted
    p {
        margin-top: 1rem;
        line-height: 2rem;
    }
    

    // ------ ul ---------------------------------------------

                ul {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    position: relative;

                    //ul::before 
                    &::before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 0px;
                        height: 100%;  
                        border: 1px dashed $primary; 
                    }

                    //li
                    li {
                    margin: 0px 20px 60px 50px;
                    position: relative;

                        //li span
                        span {
                            position: absolute;
                            top: -10px;
                            left: -50px;
                            width: 0px;
                            height: 100%;  
                            border: 1px solid $primary;   
                            //span::before, span::after
                            &::before, &::after {
                                content: '';
                                width: 15px;
                                height: 15px;   
                                position: absolute;
                                border-radius: 50%;
                                left: -7px; 
                                background: $white;
                                border: 2px solid $primary;  
                            }

                            //span::before
                            &::before {
                                top: -2px;
                            }

                            //span::after
                            &::after {
                                top: 100%;
                            }
                        }
                    }                
                }
 
}
