.experience{
    padding: 6.2rem 0 4.5rem 0;
    background: linear-gradient(90deg, $gray-200, #fff);

    //h2
    h2 {
        font-size: 1rem;
    }

    //ul
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        text-align: left;

        //ul::before 
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 0px;
            height: 100%;  
        }

        //li
       li {
           margin: 20px 60px 50px 60px;
           position: relative;
           // small screen (from 768px to below)
           @media  only screen and (max-width: 768px) {
                margin: 20px 0px 50px 60px;
           } 


           //li span
           span {
               position: absolute;
               top: 0;
               left: -60px;
               width: 0px;
               height: 100%;   
               //span::before, span::after
               &::before, &::after {
                   content: '';
                   width: 10px;
                   height: 10px;   
                   position: absolute;
                   border-radius: 50%;
                   left: -5px;
                   background: $white;
               }

               //span::before
               &::before {
                   top: -10px;
               }

               //span::after
               &::after {
                   top: 100%;
               }
           }
       }
        
    }

    //colum left
    .col-left {

        //h2
        h2 {
            color: $primary;
        }

        //small
        .company-name {
            text-transform: uppercase;
        }

        //ul
        ul {
            //ul::before 
            &::before {
                border: 1px dashed $primary;   

            }

            //li span
            span {
                border: 1px solid $primary;    
                //span::before, span::after
                &::before, &::after {
                    border: 2px solid $primary;  
                }
            }       
        }
    }

    //colum right
    .col-right {

        //h2
        h2 {
            color: $info;
        }

        //ul
        ul {
            //ul::before 
            &::before {
                border: 1px dashed $info;   

            }

            //li span
            span {
                border: 1px solid $info;    
                //span::before, span::after
                &::before, &::after {
                    border: 2px solid $info;  
                }
            }       
        }
    }
}
