header {
    //header bg-color transition on page scroll
    transition: 0.5s ease-out;  

    //container-inner
    .container-inner {
        height: 50px;

        //logo-container
        .logo-container {
            font-weight: 600;
            color: $primary;
            margin-right: auto; //important for ie
                //span
                span:first-child {
                    color: $dark-light;
                    }

        }

        // == hambergur container
        .burger-container {
            position: relative;
            cursor: pointer; 
            z-index: 9999;
            padding: 10px;
            margin-left: auto; //important for ie
            display: none;
            // == small screen show burger container
            @media  only screen and (max-width: 992px) {
                display: block;
            }

            // == burger menu line
            .burger-menu-icon {
                // display: block;
                position: relative;
                background: #000;
                height: 2px;
                width: 15px;
                border-radius: 4px;
                // === initial animation setup when closed
                animation: closedMid 0.5s backwards;
                animation-direction: reverse;

                // == before, after
                &::before, &::after {
                    content: '';
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    border-radius: 4px;
                    background: #000;                        
                }

                // == before
                &::before {
                    transform: translateY(-5px);
                    //initial animation setup when closed
                    animation: closedTop 0.3s backwards;
                    animation-direction: reverse;         
                }

                // == after
                &::after {
                    transform: translateY(5px);
                    //initial animation setup when closed
                    animation: closedTop 0.3s backwards;
                    animation-direction: reverse;                       
                }

            }

            // == active-burger-menu-icon
            .active-burger-menu-icon {
                background: #000;
                //middle line
                animation: openMid 0.3s forwards;//animation when clicked on burger menu icon

                //top line
                &::before {
                    background: #000;
                    // top line
                    animation: openTop 0.3s forwards;//animation when clicked on burger menu icon
                }

                //bottom line
                &::after {
                    background: #000;
                    // bottom line;
                    animation: openBtm 0.3s forwards;//animation when clicked on burger menu icon
                    
                }
                
                //make animation openTop
                @keyframes openTop {
                    0% { transform: translateY(-5px) rotate(0deg);  }
                    50% { transform: translateY(0px) rotate(0deg);  }
                    100% { transform: translateY(0px) rotate(90deg);  }
                    
                }
                
                //make animation openMid
                @keyframes openMid {
                    50% { transform: rotate(0deg);  }
                    100% { transform: rotate(45deg);  }
                    
                }
                
                //make animation openBtm
                @keyframes openBtm {
                    0% { transform: translateY(5px) rotate(0deg);  }
                    50% { transform: translateY(0px) rotate(0deg);  }
                    100% { transform: translateY(0px) rotate(90deg);  }
                    
                }
                
                //make animation openTop
                @keyframes closedTop {
                    0% { transform: translateY(-5px) rotate(0deg);  }
                    50% { transform: translateY(0px) rotate(0deg);  }
                    100% { transform: translateY(0px) rotate(90deg);  }
                    
                }
                
                //make animation openMid
                @keyframes closedMid {
                    50% { transform: rotate(0deg);  }
                    100% { transform: rotate(45deg);  }
                    
                }
                
                //make animation openBtm
                @keyframes closedBtm {
                    0% { transform: translateY(5px) rotate(0deg);  }
                    50% { transform: translateY(0px) rotate(0deg);  }
                    100% { transform: translateY(0px) rotate(90deg);  }
                    
                }

            }
            
        }

        //logo-container
        .nav-container {
            margin-left: auto;  //important for ie
            //small sreen
            @media  only screen and (max-width: 992px) {       
                visibility: hidden;
                position: absolute;
                top: 0;
                right: 0;
                width: 40%;
                height: 100vh;
                background: #fff;  
            }

            //smaller size
            @media  only screen and (max-width: 500px) {
                width: 70%; 
            }

            //nav
            .nav {
                flex-wrap: nowrap;

                //small scree
                @media  only screen and (max-width: 992px) { 
                    flex-direction: column;
                    width: 100%;
                    height: 100vh;
                    padding: 23vh 0;        
                }

                //nav-item
                .nav-item {
                    //header bg-color transition on page scroll

                    @media  only screen and (max-width: 992px) { 
                        text-align: center;      
                        flex: 1;
                    }

                    //nav-link
                    .nav-link {
                        padding: 0.5rem 0rem 0.5rem 2rem;
                        text-transform: uppercase;
                        color:  $primary;

                        @media  only screen and (max-width: 992px) {  
                            padding: 0;
                        }
                        //nav link hover color
                        &:hover {
                            color:$dark;
                        }
                    }
                    
                    //for scroll spy 
                    .active {
                        color: $dark;
                        
                        //after 
                        &::after {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 2px;
                            background: $primary;
                            margin: 0 auto;
                        }
                    }
                    
                }

                //nav link active
                .active-nav-item {
                    visibility: visible;
                    -webkit-animation-duration: 0.5s;
                    animation-duration: 0.5s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                }

            }

        }

        // Small screen active nav container
        .active-nav-container {
            visibility: visible;
            -webkit-animation-duration: 0.7s;
            animation-duration: 0.7s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;

            // animation-delay: 1s;
        }

        //nav-container-border
        .nav-container-border {
            border-left: 2px solid #efefef;
            -moz-box-shadow: -20px 0px 20px 0px  rgba(0, 0, 0, 0.075);
            -webkit-box-shadow: -20px 0px 20px 0px  rgba(0, 0, 0, 0.075);
            box-shadow: -20px 0px 20px 0px  rgba(0, 0, 0, 0.075);  
        }
    }
}