// ============================= home ======================================
.home {  
    background: linear-gradient(90deg, #fff, $gray-200);
    
    // small screen (from 992px to below)
    @media  only screen and (max-width: 992px) {
        // flex container
        .flex-container {
            flex-direction: column;
        }
    }

    // intro 
    .intro {
        width: 50%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;

        // small screen (from 992px to below)
        @media  only screen and (max-width: 992px) {
            width: 100%;
            height: 50vh;
            justify-content: flex-end; 
            align-items: center;     
        }
       
        //h1
        h1 {
            font-weight: 800;
            color: $secondary;
            font-size: 3.5rem;
            text-transform: uppercase;
            margin-bottom: 1.3rem;

            // small screen (from 992px to below)
            @media  only screen and (max-width: 992px) {
                font-size: 3rem;
            }

            // small screen (from 992px to below)
            @media  only screen and (max-width: 500px) {
                font-size: 2rem;
            }
        }      

        //p
        p {
            margin-bottom: 1.3rem;
        }

        //first p child of it's parent div
        p:first-child{
            letter-spacing: 0.5rem;
        }

        //link button
        a {
            margin-top: 1.1rem;
            padding: 10px 50px;  

            // small screen (from 500px to below)
            @media  only screen and (max-width: 500px) {               
                margin-top: 0.8rem;
            }
        }
    }// intro END

    // home-pic 
    .home-pic {
        width: 50%;
        height: 100vh;
        background: url("../img/home/mark-desktops.png") no-repeat center bottom;
        background-size: contain;

        // small screen (from 992px to below)
        @media  only screen and (max-width: 992px) {
            width: 100%;
            height: 50vh;
        }

        // small screen (from 768px to below)
        @media (max-width: 768px) {
            background: url("../img/home/mark-tablets.png") no-repeat center bottom;
            background-size: contain;
        }

        // small screen (from 576px to below)
        @media (max-width: 576px) {
            background: url("../img/home/mark-mobiles.png") no-repeat center bottom;
            background-size: contain;
        }
    }// home-pic END  
}
// ============================= home END ==================================