.portfolio{
    padding: 100px 0;
    
    //h1
    h1 {
        text-align: center;
        //h1::after
        &::after {
            margin: 15px auto;
        }
    }

    //buttons
    .btn-group {
        margin: 0;

        //button
        .btn {
            padding:0.5rem 1rem;
        }

    }

    //portfolio-items
    .portfolio-items {
        padding-top: 50px;

        //card
        .card {
            margin: 0rem 0 1rem 0;
            border: 0;
            background: $primary;
        }
            
        //active
        .mixitup-control-active {
            color: $black;
            background-color: $gray-200;
        }
    }

    //items
    // .items {
    //     margin-top: 50px;
    //     margin-right: -5px;
    //     margin-left: -5px;

    //     //item   
    //     .item {
    //         position: relative;
    //         overflow: hidden;
    //         margin: 5px -10px;

    //         //img
    //         img {
    //             width: 100%;
    //             transition: 0.8s ease-out;
    //         }

    //         //item:hover
    //         &:hover {    
    //             transform: rotate(0deg);
    //             -ms-transform: rotate(0deg);
    //             -moz-transform: rotate(0deg);
    //             -webkit-transform: rotate(0deg);
    //             z-index: 100; 

    //             //item:hover img
    //             img {
    //                 transform: scale(1.2);
    //                 -ms-transform: scale(1.2);
    //                 -moz-transform: scale(1.2);
    //                 -webkit-transform: scale(1.2);
    //             }

    //             //item:hover overlay
    //             .overlay {
    //                 opacity: 0.5;
    //                 width: 100%;
    //                 height: 100%;
    //                 top: 0;
    //                 left: 0;
    //             }
    //         }
    //     }

    //     //overlay
    //     .overlay {
    //         background-color: #fff;
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         width: 0;
    //         height: 0;
    //         text-align: center;
    //         opacity: 0;
    //         transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    //         -ms-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    //         -moz-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
    //         -webkit-transition: 0.3s cubic-bezier(0.4, 0, 1, 1);

    //         //fontawesome icon
    //         span{
    //             font-size: 25px;
    //             color: $primary;
    //             position: absolute;
    //             top: 50%;
    //             left: 50%;
    //             transform: translate(-50%, -50%);
    //         }
    //     }
    // }
}







    














