.services {
    position: relative;
    padding: 100px 0;
    background: $gray-200;

    //h1
    h1 {
        font-size: 2rem;
        text-align: center;
        //after
        &::after {
            content: '';
            display: block;
            width: 55px;
            height: 2px;
            background: $primary;
            margin: 20px auto;
        }
    }
       
    
    //card
    .card {
        margin-top: 1rem;
        text-align: center;

        //fontawesome icon
        .fas{   
            color: $primary;    
            margin: 1rem 0 2rem 0;  
            font-size: 5rem;
        } 

        //h2
        .card-title h2 {
            font-size: 1rem;
        }

        //p
        .card-text {
            font-size: 0.9rem;
        }
    }
}

